extends layout
block content
 br
 h2 Editando Arquivo
 br
 p
 br
 p#message.alert.alert-success(style='display:none')
 br
 table.table.table-bordered
  thead
    tr
      label Nome 
      input(type="text" id="nome" value="")
      label Preço
      input(type="text" id="preco" value="#trdata")
      label Categoria 
      input(type="text" id="categoria" value="#trdata")
      label Descrição
      input(type="text" id="descricao" value="#trdata")
      label Fabricante
      input(type="text" id="fabricante" value="#trdata")
      br
      input(type="button", value="Salvar", class="btn btn-success", href="/")
    tr
